body {
    width: 960px; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;  
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 120px;
    text-align: center; 
    padding-bottom: 20px;
}

#form {
    background-color:  rgb(110, 75, 110); 
    width: 100%;
    border: 2px solid blue ; 
    padding: 20px;
    color: white;
}

td {
    padding: 10px; 
    position: relative;
}
.button {
    width: 100px;
    height: 40px;
}