#header {
    background-color:#ADB96E;
    width: 100%; 
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.content{
  width: 90%;
}

footer {
  background-color:#ADB96E;
  width: 100%;
  height: 50px;    
}

.table2 {
  width: 90%;
  padding-bottom: 20px;  
  padding-right: 50%;  
}
.table1 { 
  padding: 0 150px 0 150px ;
} 
 
.desc {
  text-align: right;
  width: 200px;
}
 
.myIcon{
    font-size:1.5em;   
    margin-left: 15px;
}
.searchBox {
    margin-left: 15px;
    height: 34px;
    border-radius: 17px;
    border-width: 0px;
    padding-left: 35px;
    font-size: 18px;
    width: 160px;

}

.button {
    border: 0px;
    background-color:#ADB96E ;
    padding-right: 50px;
    height: 50px;  
    margin-top: -10px;   
    outline:none;
}

.button:hover{
    background-color:#C6D580 ;
    color: white;
}

* {box-sizing:border-box}

.slideShow {
  max-width: 100%;
  position: relative;
  margin: auto;  
  text-align: center;
  height: 300px;  
  overflow: hidden;
}

.mySlides {
  display: block;  
  position: absolute;   
  width: 100%; 
  left: 100%; 
}

.prev, .next { 
  position: absolute;  
  cursor: pointer;  
  width: auto; 
  margin-top: 100px;
  padding: 15px;  
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 15px 15px 15px 15px;
  user-select: none; 
}
 
.prev {
  left: 0%;
}
.next {
  right: 0%;
}
 
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
   
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block; 
}

.active, .dot:hover {
  background-color: #717171;
}
 
.slideIn { 
  animation: 50s slideIn;
}

.slideOut {  
  animation: 50s slideOut;
}

.slideInR {  
  left: unset;
  right: 100%;
  animation: 50s slideInR;
}

.slideOutR {   
  left: unset;
  right: 0%;
  animation: 50s slideOutR;
}

@keyframes slideIn { 
  0% {left: 100%}
  1% {left: 0%} 
  100% {left: 0%} 
}

@keyframes slideOut {
  0% {left: 0%}  
  1% {left: -100%}
  100% {left: -100%}
}



@keyframes slideInR {  
  
  0% {Right: 100%}
  1% {Right: 0%} 
  100% {Right: 0%} 
}

@keyframes slideOutR {
   
  0% {Right: 0%}  
  1% {Right: -100%}
  100% {Right: -100%}
}

input,select{
  outline: none;
}
.boxShadow {
  width: 90%;        
  background-color: lightgray;
  -webkit-box-shadow: 10px 11px 7px 0px rgba(5,5,5,0.38);
  -moz-box-shadow: 10px 11px 7px 0px rgba(5,5,5,0.38);
  box-shadow: 10px 11px 7px 0px rgba(5,5,5,0.38);
  border-radius: 5px;        
  margin-top: 40px;
}
.part {
  font-size: 20px;
  font-weight: bold;
  text-align: left;    
  position: relative;    
  top: -19px;
  left: 10px;
}

#term {
  color: rgb(54, 54, 54);
}

.collapsible {
background-color: #777;
color: white;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .collapsible:hover {
background-color: #555;
}

#collapsibleContent { 
border-width: 0px;
width: 90%;  
display: none;
overflow: hidden;
background-color: #f1f1f1;
}

.button1{
  border: none;
  outline: none;
  text-align: center;
  width: 150px;
  height: 50px;
}